textarea {
    max-width: 100% !important;
}
.table-topics tr td:first-child {
    width: 25%;
    font-weight: bold;
}
.list-comments .strong {
    padding-bottom: 5px;
}
.list-comments .row {
    padding-bottom: 20px;
}
.list-comments .row:last-child {
    padding-bottom: 0;
}

.badgeEntry {
    text-align: center;
}

.badgeEntry img {
    width: 100%;
}

.badgeEntry span {
    color: #3a3939;
}

.created_at {
    position: absolute;
    bottom: 2%;
    font-size: 13px;
}

.voteContainer {
    position: absolute;
    right: 10%;
    bottom: 10%;
    font-size: 40px;
}

.readMore {
    -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    border: 0;
    background: #35b88f;
    color: #fff;
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    padding: 10px 20px;
    text-align: center;
    border-radius: 3em;
    font-weight: 400;
}

.TopicCreationDate {
    position: absolute;
    top: 10%;
}

.TopicVoteContainer {
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 40px;
}

.TalkBackWrapper {
    -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
}

.menuItem {
    display: inline-block;
    padding: 10px;
}

.menuItem a {
    -webkit-transition: all 1s ease-out !important;
    -moz-transition: all 1s ease-out !important;
    -ms-transition: all 1s ease-out !important;
    -o-transition: all 1s ease-out !important;
    transition: all 1s ease-out !important;
}

.menuItem a:hover {
    padding: 20px;
}

#content {
    display: block;
    border: 0;
    background: #f1f1f1;
    width: 100%;
    padding: 0.75em;
    min-height: 12em;
}

.submitCommentButton {
    text-align: center;
}

#my-badges {
    color: white;
}

.ProfilePage {
    min-height: 400px;
}

.UserSet {
    text-align: center;
    display: none;
}

.UserSet span {
    padding: 10px;
    background-color: #35b88f;
}