{% extends 'layout.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script type="text/jsx" src="/assets/js/pages/profile/change.js"></script>
{% endblock %}


{% block body %}
    <div id="change-profile"></div>
{% endblock %}