{% extends "layout.html.twig" %}

{% block javascript %}
    {{ parent() }}
    <script type="text/jsx" src="/assets/js/modules/methods.js"></script>
    <script type="text/jsx" src="/assets/js/forms/addtopic.js"></script>
{% endblock %}

{% block body %}
    <div id="addtopicform"></div>
{% endblock %}