<!DOCTYPE html>
<html>
<head>
    <title>Talkback</title>
    <script src="/assets/js/vendor/JSXTransformer.js"></script>
    <script src="/assets/js/vendor/react.min.js"></script>
    <script src="/assets/js/vendor/react-cookie.min.js"></script>

    {% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% endblock %}
</head>
<body>
<div class="container">
    {% block body %}
    {% endblock %}
</div>
{% block javascript %}
    <script type="text/jsx" src="/assets/js/vendor/jquery-2.1.4.min.js"></script>
{% endblock %}
</body>
</html>