{% extends "layout.html.twig" %}

{% block javascript %}
    {{ parent() }}
    <script type="text/jsx" src="/assets/js/pages/showtopic.js"></script>
{% endblock %}


{% block body %}
    <div id="showtopic" data-topicid="{{ id }}"></div>
{% endblock %}