{% extends "layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/jsx" src="/assets/js/pages/topiclist.js"></script>
{% endblock %}

{% block body %}
    <section id="banner">
        <header>
            <h2>Browse Topics</h2>
        </header>
        <p>Read and vote on topics you like.</p>
    </section>

    <div id="topiclist"></div>
{% endblock %}